name: Build and Publish Docker Image

on:
  push:
    branches:
      - main

jobs:
  docker:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Login no GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build da imagem (produção)
        run: |
          docker build \
            -f docker/Dockerfile \
            -t ghcr.io/${{ github.repository }}:latest \
            .

      - name: Push da imagem
        run: |
          docker push ghcr.io/${{ github.repository }}:latest
       